<section class="ptrust">
	<ul>
		<li>
			<a href="https://www.celticwebmerchant.com/en/" title="Not content? Money back within 2 business days" target="_blank">
			  <i><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" fill="currentColor"><path d="M20.7,6.7l-11,11C9.5,17.9,9.3,18,9,18s-0.5-0.1-0.7-0.3l-5-5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L9,15.6L19.3,5.3 c0.4-0.4,1-0.4,1.4,0S21.1,6.3,20.7,6.7z"></path></svg></i>
			  <span>Niet goed? Geld terug binnen 2 werkdagen</span>
			</a>
		  </li>
		  <li>
			<a href="https://www.celticwebmerchant.com/en/service/shipping-costs/" title="We ship worldwide">
			  <i><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" fill="currentColor"><path d="M20.7,6.7l-11,11C9.5,17.9,9.3,18,9,18s-0.5-0.1-0.7-0.3l-5-5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L9,15.6L19.3,5.3 c0.4-0.4,1-0.4,1.4,0S21.1,6.3,20.7,6.7z"></path></svg></i>
			  <span>Wij verzenden wereldwijd</span>
			</a>
		  </li>
		  <li>
			<a href="https://www.celticwebmerchant.com/en/" title="Always insight in the delivery date">
			  <i><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" fill="currentColor"><path d="M20.7,6.7l-11,11C9.5,17.9,9.3,18,9,18s-0.5-0.1-0.7-0.3l-5-5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L9,15.6L19.3,5.3 c0.4-0.4,1-0.4,1.4,0S21.1,6.3,20.7,6.7z"></path></svg></i>
			  <span>Altijd zicht op uw leverdatum</span>
			</a>
		  </li>
		  <li>
			<a href="https://www.celticwebmerchant.com/en/service/shipping-returns/" title="Life long warranty on our products" target="_blank">
			  <i><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" fill="currentColor"><path d="M20.7,6.7l-11,11C9.5,17.9,9.3,18,9,18s-0.5-0.1-0.7-0.3l-5-5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L9,15.6L19.3,5.3 c0.4-0.4,1-0.4,1.4,0S21.1,6.3,20.7,6.7z"></path></svg></i>
			  <span>Levenslange garantie op onze producten</span>
			</a>
		  </li>
	</ul>
	<style>
		.ptrust {
			& ul {
				list-style: none; padding:0;
				& li {
					& a { 
						color: inherit; text-decoration: none;
						display: flex; flex-direction: row; flex-wrap: nowrap;
						align-items: flex-start; justify-content: flex-start;
						column-gap: 1em;
						& i { width:1em; height:1em; color: inherit; margin-top: 0.3em;}
						& span { letter-spacing: -0.02em;}
					}
					
				}
			}
		}
	</style>
</section>