<div class="main-page-toki__content {{ section.settings.width }}">
	{%- for block in section.blocks -%}
		<div class="main-page-toki__block" {{ block.shopify_attributes }}>
			{%- case block.type -%}
				{%- when '@app' -%}
					{% render block %}
			{%- endcase -%}
		</div>
	{%- endfor -%}
</div>

{% style %}
	.main-page-toki {
		padding-block: 3em;
	}

	.main-page-toki__block + .main-page-toki__block {
		margin-block-start: 2em;
	}
{% endstyle %}

{% schema %}
{
	"name": "Toki loyalty",
	"tag": "section",
	"class": "main-page-toki",
	"settings": [
		{
			"type": "select",
			"id": "width",
			"label": "Width",
			"options": [
				{ "value": "alignsmall", "label": "Narrow" },
				{ "value": "align", "label": "Regular" },
				{ "value": "alignwide", "label": "Wide" },
				{ "value": "alignfull", "label": "Full" }
			],
			"default": "alignwide"
		}
	],
	"blocks": [
		{
			"type": "@app"
		}
	]
}
{% endschema %}
