#product-menu {
	position: relative;
	& ul { 
		position: static; list-style: none; margin:0; padding:0; width:100%; display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); column-gap: 1em; row-gap: 1em;
		& li { 
			position: static; display: inline-block;
			&.has-sub {
				&:hover > ul {
					opacity: 1; pointer-events: all;
				}
			} 
		}
		&.depth-first {
			display:flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center;
		}
		&.depth-second {
			position: absolute; left:0; top:0; right:0; opacity: 0; pointer-events: none;
		}
		&.depth-third {
			position: absolute; left:0; top:0; right:0; opacity: 0; pointer-events: none;
		}
	}
}