/* totalli */
/* v2025-11-20 */
/*
--theme-color-black: #111111;
--theme-color-brown: #2e130d;
--theme-color-blue: #0f1f38;
--theme-color-green: #243406;

--theme-font-size-min: 16;
--theme-font-size-max: 21;
--theme-font-view-min: 576;
--theme-font-view-max: 1640;

--theme-color-alert: #FF0000;
*/
:root{
    --theme-color-success: rgba(208, 255, 194, 0.3);
    --theme-bgcolor-success: #d0ffc2;
}

/* = APP: WC Wishlist Club */
.wishlistClubPage {
    /* font-family: 'Absara Sans Pro', sans-serif !important; */
    /* font-size: clamp(
        calc(var(--theme-font-size-min) * 1px),
        calc((var(--theme-font-size-min) * 1px) + (var(--theme-font-size-max) - var(--theme-font-size-min)) * ((100vw - (var(--theme-font-view-min) * 1px)) / var(--theme-font-view-max))),
        calc(var(--theme-font-size-max) * 1px)
    )!important;  */
}
.wishlistClubPage .WishlistClubContainer {
    padding: 1em 0 2em;
    letter-spacing: -0.02em;

}
.WishlistClubContainer .wcButton {
    font-size: inherit;
}
.wcButton.wcFull {
    padding: 0.5em 1em;
    color: #fff;
    background-color: var(--theme-color-green);

}
.wcProductList .wcProduct_gridView .wcButton {
    font-size: inherit;
    border-radius: 0 !important;
}
.wcProduct_gridView .wcButton {
    font-size: inherit;
    border-radius: 0 !important;
}

.WishlistClubTabs .wcCategoryNav {
    padding: .5em 0;
    border-radius: 0 !important;
}
.wcProductCard .wcPcContent h4 a { /* product title */
    display: inline-block;
    /* font-size: 17px; */
    font-size: .7em !important;

}

.wcProductCard .wcPcPrice span { /* price */
    font-size: initial !important;
}

.wishlistClubPage select.wcPcSelector, .wcWishlistModal .wcWishlistModal_body .wcBisInfo select  {
    background-color: var(--theme-color-grey) !important;
    min-height: 32px;
}

.pform__form .wc_wishlistBox {
    width: 100%;
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    top: auto;
    background-color: var(--theme-bgcolor-success);
}

.wc_wishlistBox .wc_wishlistContent, .wc_wishlistBox .wc_wishlistRemonve {
    align-items: flex-start;
}
.wc_wishlistBox .wc_wishlistContent input.wc_wishlistCheckbox, .wc_wishlistBox .wc_wishlistRemonve {
    top: 5px;
}
.wc_wishlistBox .wc_wishlistContent input.wc_wishlistCheckbox {
    top: 3px;
    position: relative;
}

#app a.s2kwpi1{
    text-decoration: none !important;
}

/* Modals */
.Polaris-Box {
    padding: 1em;
}
.wcWishlistModal .wcWishlistModal_content {
    padding: 1em;
    border-radius: 0px;
    border: 1px solid #e6e6e6;
}
.wcWishlistModal .wcWishlistModal_header p {
    font-size: initial;
}
.wcWishlistModal .wcWishlistModal_body .wcBisInfo h4 {
    font-size: .9em;
    line-height: 1.2;
}
.wcWishlistModal .wcWishlistCreate label {
    font-size: initial;
}

/* notify button */
.wcBisContain button.wcBisBtn, button.bis_product {
    background-color: #0f1f38 !important;
}
.bis_product .wcBsiNotifyText {
    font-size: initial;
    /*line-height: 20px;*/
}

/* = APP: Shop the look */
.shopthelook-section-v2 .ctl-title {
    font-size: 38px !important;
    text-transform: initial !important;
}
.shopthelook-section-v2 button.btn--primary.stl__btn-primary.shopthelook_add-to-cart {
    background-color: var(--theme-color-green) !important;
    border-radius: 0;
    padding: .85em 1em;
}

/* = APP: 00 TAX EXEMPTION */
.auto-tax-exemption #oo-tax-exemption {
    padding: 0;
}
.auto-tax-exemption #oo-tax-exemption p {
    line-height: 1.2;
}
.oo-tax-succes {
    padding: 0 1em;
    background-color: rgba(208, 255, 194, 0.5);
}
